{% extends 'base.html.twig' %}
{% block title %}Order{% endblock %}
{% block content %}
<h2>Заказ от {{ order.time|date('Y-m-d H:i') }}</h2>
<h2>Сумма: {{order.totalPrice }} рублей</h2>
<div class="items">
    {% for item in items %}
        <div class="item">
            <div class="pItem">
                <p>{{ item.getMenuItem().name }}</p>
                <p>Количество: {{ item.quantity }}</p>
            </div>
            <div class="pItem"><p>{{ item.getMenuItem().price }} рублей</p></div>
        </div>
    {% endfor %}
</div>
{% endblock %}